@import "tailwindcss";
@import "@nuxt/ui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme static {
    /* Yellow Colors */
    --color-yellow-1: #D6C4A1;
    --color-yellow-2: #77643F;

    /* Brown Colors */
    --color-brown-1: #251F11;
}

@layer base {
    @font-face {
        font-family: 'Railey';
        src: url('/assets/fonts/Railey-PersonalUse.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@layer utilities {
    /* Fontes */
    .font-railey {
        font-family: Railey, serif  !important;
    }

    /* height */
    .h-screen {
        height: 100vh !important;
    }

    .h-2px {
        height: 2px !important;
    }

    .h-65px {
        height: 65px !important;
    }

    /* width */
    .w-screen {
        width: 100vw !important;
    }

    .w-570px {
        width: 570px !important;
    }

    .w-430px {
        width: 430px !important;
    }

    /* font size */
    .text-55px {
        font-size: 55px !important;
    }

    .text-30px {
        font-size: 30px !important;
    }

    /* Margin */
    .-ml-2 {
        margin-left: -2rem !important;
    }

    .-mt-9 {
        margin-top: -9rem !important;
    }

    /* Outras classes utilitárias */
    .text-shadow-1 {
        text-shadow: 1px 4px 3px #00000063 !important;
    }

    .hover\:text-shadow-1:hover {
        text-shadow: 1px 4px 3px #00000063 !important;
    }
}