@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Railey';
        src: url('/assets/fonts/Railey-PersonalUse.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}
